#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    contactEmail: 'pavlicekr@email.cz' # Kontaktní email


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

# Nastavení společných uživatelských rolí v rámci celé aplikace (ACL).
security:
	roles:
		guest:
		member: [guest]
		admin:

services:
	- App\Model\ArticleManager
	- App\Model\AdminManager
	- App\Forms\AdminFormFactory
	- App\Forms\ContactFormFactory(%contactEmail%)
	- App\Forms\UserFormFactory
	router: App\RouterFactory::createRouter
	authenticator: App\Model\UserManager    # Nastavení služby pro přihlašování do aplikace.
	security.authorizator: #Nastavení služby pro oprávnění uživatelů aplikace (ACL)
	     setup:
	         # Zdroje aplikace.
	         - addResource(Error)
	         - addResource(Administration)
	         - addResource(Article)
	         - addResource(Contact)
	         - addResource(User)
	         # Pravidla přístupu
	         - allow(admin) # Administrátor může vše
	         - allow(guest, Error)
	         - allow(guest, Administration, login)
	         - allow(guest, Article, default)
	         - allow(guest, Article, information)
	         - allow(guest, Contact)
	         - allow(member, Administration, default)
	         - allow(member, Administration, logout)
	         - allow(admin, Administration, register)
	         - allow(admin, Administration, edit)
	         - allow(admin, Administration, officeHours)
	         - allow(admin, User, manage)
	         - allow(admin, User, edit)
